@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: #F6F7FC;
}

h2 {
    font-weight: 500;
    font-size: 1.8rem;
}

h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.main-container {
    width: 50vw;
    margin: 10vh auto 0 auto;
    padding: 2vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-container h1 {
    margin-bottom: 2rem;
}

.main-container h2 {
    margin-bottom: 2rem;
}

.wage-input,.tax-discount-kids input {
    padding: 0.7rem 1rem; 
    font-size: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
}

.main-container input:focus {
    outline: 2px solid #EB7E39; 
}

input[type=checkbox]:focus {
    outline: none;
}

.wage-input {
    width: 30rem;
}

.retirement select {
    border-radius: 0;
    padding: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
}

.retirement option {
    padding: 20px;
}

.retirement select:focus {
    outline: none;
}

.tax-discount {
    display: none;
}

.tax-discount-kids {
    display: none;
    margin-top: 1rem;
}



.tax-discount-kids input {
    margin-right: 0.5rem;
}

.submit-button {
    margin-top: 2rem;
    padding: 0.7rem 3rem;
    background-color: #EB7E39;
    color: #FFF;
}

.roll-button {
    margin-top: 2rem;
    display: flex;
    
}

.roll-button button {
    display: flex;
    padding: 0.7rem 2rem 0.7rem 2rem;
    width: 14rem;
    justify-content: space-between;
}

.roll-button  i {
    color: #EB7E39 ;
    font-size: 1.5rem;
}

button {
    border: none;
    
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
}

.message-container-style {
    margin-top: 1rem;
    padding: 1rem; 
    /* background-color: #F6F7FC;  */
    background-color: #fff; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.wrapper {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.wrapper input {
    appearance: none;
    
    width:23px; 
    height: 23px; 
    background-color: #d5d5d5;
    border-radius: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.wrapper input::after {
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";   /* Font awesome icon code */ 
    font-size: 12px;    /* Size of the icon */
    color: #fff;
    display: none;
}

.wrapper input:checked {
    background-color: #EB7E39;
}

.wrapper input:checked:after {
    display: block;
}

.wrapper label {
    margin-left: 0.5rem;
    color: #4c4c4c;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

#message p {
    font-weight: 300;
    font-size: 1.2rem;
    
}

#message span{
    font-weight: 500;
}

#message i {
    color: #EB7E39;
}

#message i:hover {
    cursor: pointer;
}

#message i:hover,#message i:focus,#message i:visited {
    color: #EB7E39;
}

#message a {
    position: relative;   
}

#message a:after {
    cursor: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    position: absolute;
    width: 12em;
    background-color: #202842;
    content: attr(data-tip);
    padding: 1rem;
    color: #fff;
    margin: auto;
    left: -7.5em;
    right: 0;
    bottom: 2em;
    text-align: center;
    border-radius: 0.2em;
    transition: opacity 0.3s ease-in;
}

#message a:before {
    /* position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-top: 0.5em solid #202842;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    margin: auto;
    left: -1em;
    right: 0;
    bottom: 1.35em;
    transition: opacity 0.4s ease-in; */
}

#message a:before,#message a:after {
    opacity: 0;
}


#message i:hover + #tooltip:before,#message i:hover + #tooltip:after { opacity: 1; }



