<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<title>Mzdová kalkulačka 2022</title>
</head>

<body>

	<div class="main-container">
		<h1 style="font-weight: 800;">Mzdová kalkulačka 2022</h1>
		<div class="form-container">
			<h2>Zadejte hrubou mzdu:</h2>
			<input class="wage-input" type="number" onchange="send()" id="summ" placeholder="Zadejte svoji hrubou měsíční mrzdu" required>
			
			<div class="wrapper">
				<input type="checkbox" checked onchange="send()" id="check">
				<label for="check">Prohlášení k dani (růžový formulář)</label>
			</div>
			<div class="roll-button">
				<button id="button-one" type="submit">Daňové slevy<i class="fas fa-angle-down"></i></button>
				
			</div>
			<div class="tax-discount">
				<div class="wrapper">
					<input type="checkbox" onchange="send()" id="student">
					<label for="student">Jsem student</label>
				</div>
				<div class="wrapper">
					<input type="checkbox" onchange="send()" id="handicap">
					<label for="handicap">Jsem ZTP/P</label>
				</div>
				<div class="retirement">
					<h5>Invalidní důchod:</h5>
					<select onchange="send()" id="invalid">
						<option class="" selected>Ne</option>
						<option value="1">1. a 2. stupeň</option>
						<option value="2">3. stupeň</option>
					</select>
				</div>
			</div>
			

			<div class="roll-button">
				<button id="button-two" type="submit">Deti<i class="fas fa-angle-down"></i></button>
			</div>
			
			<div class="tax-discount-kids">
				<h5>Daňové zvýhodnění:</h5>
				<input type="number" onchange="send()" id="kids" placeholder="Počet dětí bez ZTP/P" >
				<input type="number" onchange="send()" id="kids_handicap" placeholder="Počet dětí se ZTP/P" >
			</div>
			
			<button class="submit-button type="submit" onclick="get_values();">Vypočítat</button>
			
		</div>

		<div id="message">
			<div id="result">
				{{ result }}
				{{ discount }}
			</div> 
		</div>
	</div>

	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>

</html>