<!DOCTYPE html>
<html lang="cz">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<title>Daňová kalkulačka</title>
</head>

<body>
	<div class="main-container">
		<div class="form-container">
			<h2>Zadejte hrubou mzdu:</h2>
			<input class="wage-input" type="number" onchange="send()" id="summ" placeholder="Zadejte svoji hrubou měsíční mrzdu">
			<p>
				<input type="checkbox" checked onchange="send()" id="check">
				<label for="exampleCheck1">Prohlášení k dani (růžový formulář)</label>
			</p>
			<p>
				<input type="checkbox" onchange="send()" id="student">
				<label for="exampleCheck1">Jsem student</label>
			</p>
			<p>
				<input type="checkbox" onchange="send()" id="handicap">
				<label for="exampleCheck1">Jsem ZTP/P</label>
			</p>
			<div class="retirement">
				<h5>Invalidní důchod:</h5>
				<select onchange="send()" id="invalid">
					<option selected>Ne</option>
					<option value="1">1. a 2. stupeň</option>
					<option value="2">3. stupeň</option>
				</select>
			</div>
			
			<div class="tax-discount">
				<h5>Daňové zvýhodnění:</h5>
				<input type="number" onchange="send()" id="kids" placeholder="Počet dětí bez ZTP/P" >
				<input type="number" onchange="send()" id="kids_handicap" placeholder="Počet dětí se ZTP/P" >
			</div>
			<div class="submit-button">
				<button type="submit" onclick="get_values();">Vypočítat</button>
			</div>
		</div>

		<div class="message-container">
			<span id="result">
				{{ result }}
				{{ discount }}
			</span>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>

</html>